<main class="container" ng-controller="GitUserSearchController as searchCtrl">
  <section class="row">
    <form class="form-inline col-md-6 col-md-offset-3" name="searchForm" ng-submit="searchCtrl.doSearch()">
      <div class="input-group col-md-12 input-group-lg">
        <input class = "form-control text-center" placeholder="Github Username"
               type="text" ng-model="searchCtrl.searchTerm" required>
        <span class="input-group-btn">
          <button class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
        </span>
     </div>
    </form>
  </section>
  <section class="row">
    <h2 class="text-center">Results For: {{searchCtrl.lastSearchTerm}}</h2>
    <ul class="list-group">
      <li class="user list-group-item" ng-repeat="user in searchCtrl.searchResult.items">
        <a class="user-login text-center" ng-href="#/profiles/{{user.login}}">{{user.login}}</a>
        <img class="user-avatar" ng-src="{{user.avatar_url}}&amp;s=75" >
      </li>
    </ul>
  </section>
</main>
